/* eslint-disable */

import React from 'react';
#svgComponents#
#helper#

let #componentName# = ({ size = #size#, color, ...rest }) => {
  return (#iconContent#  );
};

#componentName# = React.memo ? React.memo(#componentName#) : #componentName#;

export default #componentName#;
